/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Variables */
/* Creating customize colors and fonts to easy acces when need it  */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Gantari", cursive;
    --primary-color: #c1530e; /* dark brown */
    --highlight-color: #416a8e; /* blue */
    
}
/* Global styles */
/* Removing eny default spaces and the box-sizing is to make it more resposive */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font);  
}

/* Giving it space to separate it from the other sections */
main {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* Making the letters inside h1 and h2 uppercase */
h1,
h2 {
    text-transform: uppercase;
}
/* Add some bottom spaces to all h2 */
h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Navar section */

/* Adding a background color an make giving the position */
#navbar {
    background-color: #24262b;
    position: absolute; 
}

/* Adding a general botton style adding a transition to make it look smooth when the mouse hovers over it */
.join-btn {
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    transition: all 0.5s ease
}
/* Change color oposite when the mouse is over */
.join-btn:hover {
    background-color: #fff;
    color: #24262b;
}

/* Hero section */
/* Andding 100% width to make it resposive so image always take the full width screen.*/
/* Adding image background to the hero section */
#hero{
    height: 600px;
    width: 100%;
    background: url(images/bohemian-8722478_1920\ \(1\).png) no-repeat center center/cover;
    position: relative;
    margin-bottom: 4rem;
    object-fit: cover;

      
}
/* Styling the text on the image hero section*/
.hero-text {
    color: #3a522f;
    font-weight: 900;
   
}
/* Giving some space and background color to make it visible */
#cover-text{
    background-color: rgb(255,255,255, 0.25);
    position: absolute; 
    bottom: 30px;
    right: 20px; 
    margin-right: 2rem;
}
