/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Variables */
/* Creating customize colors and fonts to easy acces when need it  */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Gantari", cursive;
    --primary-color: #c1530e; /* dark brown */
    --highlight-color: #416a8e; /* blue */
    
}
/* Global styles */
/* Removing eny default spaces and the box-sizing is to make it more resposive */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Buttons */

/*Sets a 2-pixel solid border with a color defined by the CSS variable (--highlight-color).
     Applies a background color using the same variable (--highlight-color) for a cohesive design.
     Changes the text color to white, ensuring good contrast and readability against the background */
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    color: var(--highlight-color)
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white
}
body {
    font-family: var(--primary-font);  
}

/* Giving it space to separate it from the other sections */
main {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* Making the letters inside h1 and h2 uppercase */
h1,
h2 {
    text-transform: uppercase;
}
/* Add some bottom spaces to all h2 */
h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Navar section */

/* Adding a background color an make giving the position */
#navbar {
    background-color: #24262b;
    position: absolute; 
}

/* Adding a general botton style adding a transition to make it look smooth when the mouse hovers over it */
.join-btn {
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    transition: all 0.5s ease
}
/* Change color oposite when the mouse is over */
.join-btn:hover {
    background-color: #fff;
    color: #24262b;
}

/* Hero section */
/* Andding 100% width to make it resposive so image always take the full width screen.*/
/* Adding image background to the hero section */
#hero{
    height: 600px;
    width: 100%;
    background: url(images/bohemian-8722478_1920\ \(1\).png) no-repeat center center/cover;
    position: relative;
    margin-bottom: 4rem;
    object-fit: cover;

      
}
/* Styling the text on the image hero section*/
.hero-text {
    color: #3a522f;
    font-weight: 900;
   
}
/* Giving some space and background color to make it visible */
#cover-text{
    background-color: rgb(255,255,255, 0.25);
    position: absolute; 
    bottom: 30px;
    right: 20px; 
    margin-right: 2rem;
}

/* Carousel section */

/* Giving some bottom spaces to the first h1 inside the carousel section */
#carousel > h1, #services .row h2{
    margin-bottom: 4rem;
    font-weight:600;

}
/* Giving height size to the images inside the carousel */
.c-item {
    height: 450px;
    object-fit: cover;


}
/* Making the images in the carousel take up 100% of their capacity */
.c-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Service section */

/* Making everything that overflows the cards not appear using overflow: hidden*/
/* Adding a general botton style adding a transition to make it look smooth when the mouse hovers over it */
.card {
    position: relative;
    width: 340px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* * Styles for the .card-body element:
   - Sets the element to take up the full width and height of its parent.
   - Positions it absolutely at the top, starting off-screen to the right (-100%).
   - Adds a semi-transparent background with a blur effect using a backdrop filter.
   - Uses Flexbox to center content vertically and align items in a column.
   - Adds a smooth transition effect (2 seconds) for any changes, ideal for animations.
   */ 
.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    /* to make background transparent */
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
    cursor: pointer;
   
}
/* Moves the .card-body element into view by setting its "right" position to 0. */
.card:hover .card-body{
    right: 0;
    transform: scale(1.025);
    
}
/* Sets the height and width of the image to 100%, ensuring it fully fills its container.
    Uses "object-fit: cover" to maintain the aspect ratio of the image while covering the entire container.
    This ensures that the image does not appear distorted but may crop parts of it to fit properly */  
.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-title {
    font-size: 50px;
    font-weight:600;
    text-transform: uppercase;
}
.card-text{
    font-size: 14px;
    font-weight: 500;
}

/* footer section */
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
 
.footer .container{
    
    max-width: 1170px;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer .container ul {
    list-style: none;
}
.footer-col { 
    width: 25%;
    padding: 0 15px;
}
/* Styling the h4 */
.footer-col h4 {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;

}
/* Making a bottom red line */
.footer-col h4::before {
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
/* Giving all elements of the list a margin button except the last element of each list  */
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
 /* Styling the list a  */
 /* display: block: Ensures the element behaves as a block-level element, taking up the full width available.
    transition: all 0.3s ease`: Adds a smooth transition effect to all CSS property changes, lasting 0.3 seconds, with an easing function for a natural and gradual effect. */
.footer-col ul li  {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
 /* Changes the text color to white (#fff) on hover.
     Adds a left padding of 10px to create a slight "shift" effect when hovering.
     Changes the cursor to a pointer to indicate the element is interactive (clickable)*/
.footer-col ul li:hover {
    color: #fff;
    padding-left: 10px;
    cursor: pointer;
}

/* Sets the element to display as an inline-block, giving it block-like behavior with inline positioning.
     Fixes the dimensions to 40px by 40px, ensuring a consistent circular shape.
     Applies a semi-transparent background color (rgba with 20% opacity).
     Adds spacing around the elements with a margin: 10px right and bottom.
     Centers the text horizontally and vertically using text-align and line-height.
     Rounds the corners completely with a border-radius of 50%, creating a circular appearanc*/

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

/* Changes the text color to a dark gray shade (#24262b) to indicate interactivity.
     Sets the background color to solid white (#fff) to create a contrasting visual effect.
     Combined with the transition effect defined earlier, these changes occur smoothly, enhancing the user experience.*/
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

/* Gallery section */

/* Sets a maximum width of 1224px to prevent the container from exceeding this size, maintaining a responsive design.
     Defines the width as 90% of the viewport, ensuring it adapts to different screen sizes.
     Centers the container horizontally using "margin: auto"*/
.containerg {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}


/*  Sets the display mode to Flexbox using "display: flex", allowing the direct children of the gallery to align in a flexible layout.
    Adds a 40px gap between the children elements, ensuring consistent spacing between them.*/
.gallery {
    display: flex;
    gap: 40px;
}

/* Sets the display mode to Flexbox using "display: flex", enabling a flexible layout for the child elements.
     Arranges the child elements in a vertical stack with "flex-direction: column".
     Adds a 20px gap between the child elements, providing consistent spacing.*/
.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*  Sets the image to fully occupy the width and height of its container with "width: 100%" and "height: 100%".
     Applies a 5px border-radius to give the image rounded corners for a softer appearance.
     Ensures the image maintains its aspect ratio while filling the container using "object-fit: cover".
     Adds 40px padding at the bottom, likely to space the image from other content.
     Changes the cursor to a pointer, indicating interactivity (e.g., hover or click).
     Adds a grayscale filter to make the image appear in black-and-white initially.
     Uses WebKit-specific properties (-webkit-filter and -webkit-transition) to ensure compatibility with WebKit browsers.
     Applies a smooth transition effect (1.8 seconds) for any property changes, such as hover interactions, making them visually appealing.*/
.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    padding-bottom: 40px;
    cursor: pointer;
    filter:  gray;
    -webkit-filter:  grayscale(1);
    -webkit-transform:  scale(1);
    -webkit-transition: all 1.2s ease-in-out;   
}

/* Styles for images inside the photo class when hovered:
     Removes any applied filter, restoring the image to its original appearance with "filter: none".
     Disables the grayscale effect by setting "-webkit-filter: grayscale(0)" for WebKit browsers.
     Resets the image scaling to its original size with "-webkit-transform: scale(1.0)", ensuring it remains unchanged. */
.photo img:hover {
    filter:  none;
   -webkit-filter:  grayscale(0);
   -webkit-transform:  scale(1.04);
}


/*  Form Section */ 

/* Uses "background-size: cover" to ensure the background image fully covers the element without distortion, cropping if necessary.
    Applies "object-fit: cover" for compatibility and to maintain the image's aspect ratio while filling the container.*/
.body{
    background: url(images/portrait-handsome-fashion-stylish-hipster-model-dressed-warm-overcoat-posing-studio.jpg);
    background-size: cover;
    object-fit: cover;
}

/* Sets the background color to a semi-transparent
     Applies a border radius of 10px to round the corners, giving a softer look.
     Adds an inset box shadow with white color and offsets of -2px horizontally and 2px vertically, creating a subtle inner glow effect. */
.form-container{
    background: rgb(0,0,0, 0.5);
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

/* Sets font-size 
    title color fonts to white against the transparent backgrond */
.form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

/* Sets the text color to white (#fff) for good contrast and readability.
     Defines the font size as 20px, making the labels easily legible.
     Assigns a font weight of 400 (normal), ensuring the text is neither too bold nor too light */
form label  {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

/* Styles for the .form-btn class:
     Sets the font size to 20px, ensuring the button text is clearly visible.
     Changes the text color to white (#fff), providing good contrast.
     Assigns a font weight of 500 (medium), making the text slightly bold for emphasis.
     Adds a smooth transition effect (0.5 seconds) to all properties, enhancing interactivity when the button's appearance changes */
.form-btn {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s ease
}
 /* Set the colors oposite to create the animation when mouse is hover */
.form-btn:hover {
    color: #24262b;
    background-color: #fff;
}



.gender-category label,
.gender-category input,
 .form-sumbmit-btn input{
    cursor: pointer;
}

/* Responsive */

/*  */
@media(max-width:574px){
    .footer-col {
        width: 100%;
    }
}
/*  */
@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        
    }

    /* Gallery section */
    .gallery {
        flex-direction: column;
    }
    

}

@media(max-width: 991px){
    .sidebar{
        background-color: rgb(255,255,255, 0.25);
        backdrop-filter: blur(10px);
    }
}
